#nav {
    list-style: none;
    display: block;    
  }
  #nav li {
    float: left;
    display: block;
    position: relative;
    background: teal;    
    padding: 10;
    border-style: solid;
    border-width: 1px;
  }
  #nav ul {
    position: absolute;
    left: 0;
    display: none;
    margin: 0 0 0 -1px;
    padding: 0;
    list-style: none;
  }
  
  #nav ul li {
    float: left;
    border-top: 1px solid #fff;
    width: 100%;
    white-space: nowrap;
  }